---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$font-size-base: 16pt;

table {
    @extend .table
}

.post-list {
    list-style-type: none;
}

.post-list li {
    margin-bottom: 20px;
}

.tag {
    font-size: smaller;
}

.navbar {
    font-size: 12pt;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap";
