<nav id="page-header" class="navbar navbar-expand-lg" role="navigation">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-menu" aria-controls="#collapse-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="collapse-menu">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/about/">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/tags/">Tags</a></li>
        <li class="nav-item"><a class="nav-link" rel="me" href="http://pinboard.in/u:edsu">Bookmarks</a></li>
        <li class="nav-item"><a class="nav-link" rel="me" href="https://www.flickr.com/photos/inkdroid">Photos</a></li>
        <li class="nav-item"><a class="nav-link" href="/podcasts/feed.opml">Podcasts</a></li>
        <li class="nav-item"><a class="nav-link" rel="me" href="https://bandcamp.com/edsu">Music</a></li>
        <li class="nav-item"><a class="nav-link" rel="me" href="https://github.com/edsu">Software</a></li>
        <li class="nav-item"><a class="nav-link" rel="me" href="https://social.coop/@edsu">Mastodon</a></li>
        <li class="nav-item"><a class="nav-link" href="/talks/">Talks</a></li>
        <li class="nav-item"><a class="nav-link" href="/web-archives/archives/">Web Archives</a></li>
        <li class="nav-item"><a class="nav-link" rel="alternate" href="/feed.xml"><img height="20" alt="Feed" src="/images/feed.png"></a>
      </ul>
    </div>
  </div>
</nav>
