<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  {% if page.title %}<meta property="og:type" content="article">{% endif %}
  {% if page.desription %}<meta property="og:description" content="{{ page.description }}">{% endif %}
  {% if page.image %}<meta property="og:image" content="{{page.image}}">{% endif %}
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/highlight.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/webmention.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="pingback" href="https://webmention.io/inkdroid.org/xmlrpc" />
  <link rel="webmention" href="https://webmention.io/inkdroid.org/webmention" />
  <link rel="me" href="https://merveilles.town/@ink" />
  <script async src="{{ "/js/webmention.min.js" | prepend: site.baseurl }}" data-page-url="https://inkdroid.org{{ page.url }}"></script>
  <script defer data-domain="inkdroid.org" src="https://plausible.io/js/plausible.js"></script>
</head>
