<nav id="page-header" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="collapse-menu" aria-expanded="false">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">inkdroid</a>
    </div>

    <div class="collapse navbar-collapse" id="collapse-menu">
      <ul class="nav navbar-nav pull-right">
        <li><a href="/about/">About</a></li>
        <li><a rel="me" href="http://pinboard.in/u:edsu">Bookmarks</a></li>
        <li><a class="page-link" rel="me" href="https://www.flickr.com/photos/inkdroid">Photos</a></li>
        <li><a class="page-link" rel="me" href="https://bandcamp.com/edsu">Music</a></li>
        <li><a class="page-link" rel="me" href="https://github.com/edsu">Software</a></li>
        <li><a class="page-link" href="/talks/">Talks</a></li>
        <li><a class="page-link" rel="alternate" href="/feed.xml"><img height="20" alt="Feed" src="/images/feed.png"></a>
      </ul>
    </div>
  </div>
</nav>
