<nav id="page-header" class="navbar navbar-expand-lg" role="navigation">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-menu" aria-controls="#collapse-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="collapse-menu">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li title="Go back home!" class="nav-item"><a class="nav-link" href="/">🏡</a></li>
        <li title="About this website" class="nav-item"><a class="nav-link" href="/about/">❓</a></li>
        <li title="Tags used on this website" class="nav-item"><a class="nav-link" href="/tags/">🏷️</a></li>
        <li title="Photos at Flickr" class="nav-item"><a class="nav-link" rel="me" href="https://www.flickr.com/photos/inkdroid">📸</a></li>
        <li title="Github profile" class="nav-item"><a class="nav-link" rel="me" href="https://github.com/edsu">🧑‍💻</a></li>
        <li title="Mastodon account" class="nav-item"><a class="nav-link" rel="me" href="https://social.coop/@edsu">👥</a></li>
        <li title="Professional talks" class="nav-item"><a class="nav-link" href="/talks/">💬</a></li>
        <li title="Email address" class="nav-item"><a class="nav-link" href="mailto:ehs@pobox.com">✉️</a></li>
        <li title="CV" class="nav-item"><a class="nav-link" href="/ehs/">💼</a></li>
        <li title="Podcasts" class="nav-item"><a class="nav-link" href="/podcasts/feed.opml">🎧</a></li>
        <li title="Support" class="nav-item"><a class="nav-link" href="/support/">💚</a></li>
        <li title="RSS Feed" class="nav-item"><a class="nav-link" rel="alternate" href="/feed.xml"><img height="20" alt="Feed" src="/images/feed.png"></a>
      </ul>
    </div>
  </div>
</nav>
