---
layout: default
---
<div class="post h-entry">

  <header class="post-header">
    <h2 class="post-title p-name">{{ page.title }}</h2>
    <p class="post-meta e-content">
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time> <br>
      {% for tag in page.tags %}
      <a rel="tag" class="tag label label-default p-category" href="/tag/{{ tag | slugify }}">{{ tag }}</a>
      {% endfor %}
    </p>
  </header>

  <hr>

  <article class="post-content">
    {{ content }}
  </article>


  <section id="webmention-container">
    <h3>👋 Webmentions ✍️  🤩</h3>

    <p>PS. You can respond to this post by liking, boosting, replying or simply
    linking to it in a post on <a href="https://joinmastodon.org/servers">Mastodon</a>, and possibly other
    social media platforms that support <a href="https://indieweb.org/Webmention">Webmentions</a>?</p>

    <div id="webmentions">
    </div>

  </section>

</div>
